/* FIRST ITERATION */

body.cleo-1 {
  background: #D2F930;
  font-family: 'Abril Fatface', cursive;
  margin: 360px ;
  text-align: center;
  font-size: 68px;
}
body.cleo-1 .one {
  font-family: 'Abril Fatface', cursive;
  font-size: 68px;
  font-weight: ;
  text-decoration: ;
  text-align: ;
  padding: ;
  color: ;
  opacity: ;
}

body.cleo-1 .two {
  font-family: ;
  font-size: ;
  font-weight: ;
  text-decoration: ;
  text-align: ;
  padding: ;
  color: ;
  opacity: ;
}
body.cleo-1 .three{
  font-family: ;
  font-size: ;
  font-weight: ;
  text-decoration: ;
  text-align: ;
  padding: ;
  color: ;
  opacity: ;
}


/* SECOND ITERATION */


body.cleo-2 {
  font-family: ;
  font-size: ;
  font-weight: ;
  text-decoration: ;
  text-align: ;
  padding: ;
  color: ;
  opacity: ;
}
body.cleo-2 .one {
  font-family: ;
  font-size: ;
  font-weight: ;
  text-decoration: ;
  text-align: ;
  padding: ;
  color: ;
  opacity: ;
}
body.cleo-2 .two {
  font-family: ;
  font-size: ;
  font-weight: ;
  text-decoration: ;
  text-align: ;
  padding: ;
  color: ;
  opacity: ;
}
body.cleo-2 .three{
  font-family: ;
  font-size: ;
  font-weight: ;
  text-decoration: ;
  text-align: ;
  padding: ;
  color: ;
  opacity: ;
}


/* THIRD ITERATION */


body.cleo-3 {
  font-family: ;
  font-size: ;
  font-weight: ;
  text-decoration: ;
  text-align: ;
  padding: ;
  color: ;
  opacity: ;
}

body.cleo-3 .one {
  font-family: ;
  font-size: ;
  font-weight: ;
  text-decoration: ;
  text-align: ;
  padding: ;
  color: ;
  opacity: ;
}

body.cleo-3 .two {
  font-family: ;
  font-size: ;
  font-weight: ;
  text-decoration: ;
  text-align: ;
  padding: ;
  color: ;
  opacity: ;
}

body.cleo-3 .three{
  font-family: ;
  font-size: ;
  font-weight: ;
  text-decoration: ;
  text-align: ;
  padding: ;
  color: ;
  opacity: ;
}
